.Head {
  display: flex;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(48, 63, 159, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  height: 50px;
  align-items: center;
  justify-content: center;
}
.Head .Logo {
  color: rebeccapurple;
  float: left;
  flex-grow: 1;
}
.Head .Contact {
  padding: 20px;
}
