.imgPreview {
  text-align: center;
  margin: 10px auto !important;
  height: 400px;
  width: 400px;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-top: 5px solid gray;
  border-bottom: 5px solid gray;
}
